.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cool-button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
}

.cool-button:hover {
  color: #FFFFFF;
  background-color: forestgreen;
}

.cool-font, input {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.cool-box {
  box-sizing: border-box;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0 0 0.3em 0;
  border-radius: 0.12em;
}

.cool-big-font {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 250;
  font-size: 75px;
  color: forestgreen;
}

.cool-big-font-2 {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 250;
  font-size: 75px;
}

strong {
  color: forestgreen;
}

.navBarLinks {
  background-color: lightgrey;
}

.orange {
  color: orange;
}

.rosybrown {
  color: rosybrown;
}

#amor-table {
  text-align: center;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#amor-table td, #amor-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#amor-table tr:nth-child(even){background-color: #f2f2f2;}

#amor-table tr:hover {background-color: #fed8b1;}

#amor-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: orange;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
